/* inspired by https://ianlunn.github.io/Hover/ */

.underline-from-left {
    @apply inline-block relative overflow-hidden no-underline;
}

.underline-from-left::after {
    @apply transition-all duration-500 bg-black absolute w-full bottom-0;
    content: "";
    height: 1px;
    left: 100%;
}

.underline-from-left:hover::after,
.underline-from-left.nav-link-active::after {
    @apply left-0;
    animation-duration: 0.5s;
    animation-name: hoverIn;
}

@keyframes hoverIn {
    from {
        left: 0;
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.sweep-to-top {
    position: relative;
}

.sweep-to-top:hover::after,
.sweep-to-top-before:hover::before {
    @apply bg-red;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    width: 100%;
    height: 100%;
    animation: 0.2s sweepToTop ease-out;
}

.sweep-to-top:hover::after {
    z-index: -1;
}

@keyframes sweepToTop {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 76%);
    }
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

.with-arrow-right svg polyline {
    transition: all 0.2s ease-in;
    transform: scaleX(1) translate(0px, 0px);
}

.with-arrow-right:hover svg polyline {
    transform: scaleX(1.2) translate(2px, 0px);
}

.with-arrow-right:hover svg polyline:first-child {
    transform: translate(15px, 0px);
}

.with-arrow-right:hover svg polyline:last-child {
    transform: scaleX(1.3) translate(4px, 0px);
}
