@import "https://fonts.googleapis.com/css?family=Exo+2:400,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap";
@import "simple-lightbox/dist/simpleLightbox.min.css";

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./_mobile-toggler.css";
@import "./_hover.css";

@import "tailwindcss/utilities";

body {
    @apply bg-white text-black font-text;
    background: "black";
}

h1 {
    @apply font-title;
    @apply font-extrabold;
    @apply text-4xl;
    @apply leading-tight;
}

@screen lg {
    h1 {
        @apply text-6xl;
    }
}

h2 {
    @apply font-title;
    @apply font-extrabold;
    @apply text-3xl;
}

h3 {
    @apply font-title;
    @apply font-extrabold;
    @apply text-2xl;
    @apply uppercase;
    @apply leading-tight;
}

h4 {
    @apply font-extrabold;
    @apply text-2xl;
    @apply leading-tight;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

iframe {
    width: 100%;
}

#loader {
    position: fixed;
    z-index: 1;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
}

p:not(:last-child) {
    @apply mb-4;
}

/* INTRODUCATIE */

#introductie h4 {
    margin-bottom: 1rem;
}

/* MASONRY */

.masonry {
    line-height: 0;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    column-count: 1;
}

@screen lg {
    .masonry {
        column-count: 3;
    }
}

/* BACKGROUND */

.background {
    z-index: -1;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: calc(50% - 1700px);
    top: -30vh;
    height: 4000px;
    width: 4000px;
}

.background img {
    width: 100%;
    height: 100%;
    max-width: initial;
}

.background.has-overlay::after {
    @apply absolute w-full top-0 left-0 h-full bg-red;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 100%);
}

/* LOGO */

.logo {
    width: 100%;
    max-width: none;
    transition: all 0.2s;
}

@screen lg {
    .logo {
        width: 350px;
    }
    .scrolling #home .logo {
        width: 100%;
    }
}

/* CONTACT */

.uniform__potty {
    position: absolute;
    left: -9999px;
}

.honeypot {
    position: absolute;
    left: -9999px;
}

/* MODAL */

.modal--afspraak .modal__overlay,
.modal--mobileMenu .modal__overlay {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
}

.modal--afspraak .modal__container,
.modal--mobileMenu .modal__container {
    animation: 0.2s hoverIn ease-out;
}

@keyframes hoverIn {
    from {
        opacity: 0;
        margin-bottom: -2rem;
    }
    to {
        opacity: 1;
        margin-bottom: 0;
    }
}

.modal--afspraak .modal__closeButton,
.modal--mobileMenu .modal__closeButton {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 0.5;
}

/* lang */

.language-selector {
    display: flex;
    position: fixed;
    right: 0;
}

.language-selector ul {
    @apply bg-red;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.language-selector li {
    color: #fff;
    @apply bg-red;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.language-selector li a {
    color: #fff;
    text-decoration: none;
}

.language-selector li:hover,
.language-selector li:focus-within {
    @apply bg-red;
    cursor: pointer;
    text-decoration: underline;
}

.language-selector li:focus-within a {
    outline: none;
}

.language-selector ul li ul {
    background: red;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.language-selector ul li:hover > ul,
.language-selector ul li:focus-within > ul,
.language-selector ul li ul:hover,
.language-selector ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.language-selector ul li ul li {
    clear: both;
    width: 100%;
}
